li.separer {
    border-right: solid 1px black;
}

nav a{
    color: #F6F5EE;
}

.logo_m {
    display: none;
}

@media screen and (max-width: 573px) {

    a#inscription {
        display: none;
    }

    .logo_d {
        display: inline-block;
    }

    .logo_m {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .logo_d {
        display: none;
    }

    .logo_m {
        display: inline-block;
        width: 20%;
    }

    a#inscription {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    li.separer {
        border-right: none;
        border-bottom: solid 1px black;
        margin-bottom: 10px;
    }
}
