body{
    --couleur1: #F6F5EE;
    --couleur2: white;

    background-color: var(--couleur1);
}

header>img{
    width: 20%;
    height: 20%;
}

main{
    font-family: 'Montserrat';
    font-size: larger;
}

main>h1{
    text-align: center;
    font-size: 300%;
    font-weight: normal;
}

h4{
    text-align: center;
}

form{
    margin: 50px;
}

input{
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    font-size: large;
}

textarea{
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    width: 300px;
    height: 150px;
    font-size: large;
}

.p2>.champ1>input{
    width: 350px;
}

.p1{
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.p2{
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.p3{
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}


label{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 0px;
}

form>section{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;

}

form>section>div{
    display: flex;
    flex-direction:column;
}

button{
    width: 150px;
    height: 50px;
    margin-left: 850px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
}

button:hover{
    background-color: black;
    color: #ffffff;
    transition: 0.5s;
}
